<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="style.css">
        <title>Budgety</title>
    </head>
    <body>

<!-- TODO: Top part -->
        <div class="top">
          <div class="budget__title">
            CONUN Crash Reporter
          </div>
        </div>


<!--  - - - - 1 - - - - - - - -->
        <div class="bottom">
            <div class="add">
                <div class="h1">
                  <h1>1. Node_uid</h1>
                </div>

                <div class="add__container">
                    <input id="node_uid_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 2 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>2. Date</h1>
                </div>

                <div class="add__container">
                    <input id="date_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 3 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>3. Version</h1>
                </div>

                <div class="add__container">
                    <input id="version_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 4 - - - - - - - -->
            <div class="add">
                <div class="h1">
                    <h1>4. Ver</h1>
                </div>

                <div class="add__container">
                    <input id="ver_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 5 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>5. Platform</h1>
                </div>

                <div class="add__container">
                    <input id="platform_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 6 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>6. Process_type</h1>
                </div>

                <div class="add__container">
                    <input id="process_type_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 7 - - - - - - - -->
            <div class="add">
                <div class="h1">
                    <h1>7. App Location</h1>
                </div>

                <div class="add__container">
                    <input id="app_location_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 8 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>8. Error Name</h1>
                </div>

                <div class="add__container">
                    <input id="error_name_id" type="text" class="add__description" placeholder="...">
                </div>
            </div>

<!--  - - - - 9 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>9. Error Message</h1>
                </div>

                <div class="add__container">
                    <textarea id="error_message_id" type="text" class="add__description" placeholder="..."></textarea>
                </div>
            </div>

<!--  - - - - 10 - - - - - - - -->
            <div class="add">
                <div class="h1">
                  <h1>10. Error Stack</h1>
                </div>

                <div class="add__container">
                    <textarea id="error_stack_id" type="text" class="add__description" placeholder="..."></textarea>
                </div>
            </div>


        </div>
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="./js/detail.js"></script>
    </body>
</html>
